* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
}
body header.upper_header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
body header.upper_header .logo {
  cursor: pointer;
}
body header.upper_header input {
  cursor: pointer;
  transition: 300ms;
  border-bottom: #242424;
}
body header.upper_header select {
  font-weight: 700;
  margin-right: auto;
  cursor: pointer;
  transition: 300ms;
}
body header.upper_header select:hover {
  color: red;
}
body header.upper_header nav .nav_links {
  list-style: none;
}
body header.upper_header nav .nav_links li {
  display: inline-block;
  padding: 20px 20px;
}
body header.upper_header nav .nav_links li a {
  font-weight: 700;
  text-decoration: none;
  color: #242424;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
body header.upper_header nav .nav_links li a:hover {
  color: red;
}
body header.lower_header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
body header.lower_header nav ul li {
  display: inline-block;
  padding: 20px 20px;
}
body header.lower_header nav ul li select {
  font-weight: bolder;
  color: #242424;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
body header.lower_header nav ul li select:hover {
  color: red;
}
body header.lower_header nav ul li a {
  font-weight: bolder;
  text-decoration: none;
  color: #242424;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
body header.lower_header nav ul li a:hover {
  color: red;
}
body main .main_image, body main .online_store_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
body main .main_image .image, body main .online_store_section .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body main .main_image .image a img, body main .online_store_section .image a img {
  width: 100%;
  border-radius: 0.25rem;
}
body main .main_image section, body main .online_store_section section {
  padding: 24px 0px 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body main .main_image section p, body main .online_store_section section p {
  color: #484848;
  text-align: start;
  display: inline-block;
  font-weight: bold;
  font-size: 28px;

}
body main .main_image section a.preorder_button {

  display: inline;
  background-color: rgb(255, 0, 0);
  color: white;
  font-weight: 700;
  font-size: 1.125rem;
  border-radius: 0.25rem;
  transition: background-color 300ms;
  padding: 1rem 2rem;
  margin-left: 1rem;
}
body main .main_image section a.preorder_button:hover, body main .online_store_section section a.preorder_button:hover {
  background-color: rgb(200, 0, 0);
}
body main .main_image section a, body main .online_store_section section a {
  text-decoration: none;
  color: #242424;
  margin-left: auto;
}
body main .main_image section a img, body main .online_store_section section a img {
  height: 72px;
  width: auto;
}
body .feature_section {
  padding-top: 48px;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
}
body .feature_section h1 {
  font-size: 2.75rem;
  color: #484848;
  margin: 2rem;
}
body .feature_section .card_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
body .feature_section .card_container .card {
  height: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #484848;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body .feature_section .card_container .card a {
  text-decoration: none;
}
body .feature_section .card_container .card a img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: content-box;
  height: 100%;
  width: 100%;
  transition: transform 300ms;
}
body .feature_section .card_container .card a img:hover {
  transform: translate(0px, -10px);
}
body .feature_section .card_container .card a .text_card {
  padding-left: 16px;
}
body .feature_section .card_container .card a .text_card h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: 300ms;
  color: black;
}
body .feature_section .card_container .card a .text_card h3:hover {
  color: red;
}
body .feature_section .card_container .card a .text_card span {
  color: #484848;
}
.online_store_section h1 {
  font-size: 2.75rem;
  color: #484848;
  margin: 2rem;
}
.online_store_section a img {
  width: 100%;
}
.online_store_section p {
  font-size: 21px;
}


.navbar_socialmedia {
  background-color: #e60012;
  height: 120.234px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 16px 36px 16px;
}
.navbar_socialmedia .nin_logo-left {
  justify-content: flex-start !important;
  display: flex !important;
  margin-left: 20px;
}
.navbar_socialmedia .social_icon a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  overflow: hidden;
  font-size: 32px;
  cursor: pointer;
  padding: 32px;
}

.footer_info {
  padding: 16px;
  display: flex;
  margin: 20px 100px 100px 100px;
  justify-content: space-between;
}
.footer_info .col-1 .about {
  border-left: 1px solid #dadada;
  padding: 0 0 0 24px;
  margin-bottom: 200px;
  height: auto;
}
.footer_info .col-1 #about_nintendo {
  font-size: 18px;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 50px;
}
.footer_info .col-1 #about_nintendo:hover {
  text-decoration: underline;
}
.footer_info .col-1 #careers,
.footer_info .col-1 #corporate {
  font-size: 16px;
  text-decoration: none;
  color: #e60012;
  font-weight: 700;
  margin-bottom: 50px;
}
.footer_info .col-1 #careers:hover,
.footer_info .col-1 #corporate:hover {
  text-decoration: underline;
}

.col-2 .shop_info {
  border-left: 1px solid #dadada;
  padding: 0 0 0 24px;
  margin-bottom: 200px;
  height: auto;
}
.col-2 #shop {
  font-size: 18px;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 50px;
}
.col-2 #shop:hover {
  text-decoration: underline;
}
.col-2 #games,
.col-2 #hardware,
.col-2 #merchandise,
.col-2 #sales,
.col-2 #exclusives,
.col-2 #online,
.col-2 #store {
  font-size: 16px;
  text-decoration: none;
  color: #e60012;
  font-weight: 700;
  margin-bottom: 50px;
}
.col-2 #games:hover,
.col-2 #hardware:hover,
.col-2 #merchandise:hover,
.col-2 #sales:hover,
.col-2 #exclusives:hover,
.col-2 #online:hover,
.col-2 #store:hover {
  text-decoration: underline;
  color: rgb(129, 7, 7);
}

.col-3 .store_info {
  padding: 0 0 0 24px;
  margin-bottom: 200px;
  height: auto;
  border-left: 1px solid #dadada;
  padding: 0 0 0 24px;
  height: auto;
}
.col-3 #store {
  font-size: 18px;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 50px;
}
.col-3 #store:hover {
  text-decoration: underline;
}
.col-3 #order,
.col-3 #shipping,
.col-3 #returns,
.col-3 #faq {
  font-size: 16px;
  text-decoration: none;
  color: #e60012;
  font-weight: 700;
  margin-bottom: 50px;
}
.col-3 #order:hover,
.col-3 #shipping:hover,
.col-3 #returns:hover,
.col-3 #faq:hover {
  text-decoration: underline;
  color: rgb(129, 7, 7);
}

.col-4 .support_info {
  padding: 0 0 0 24px;
  margin-bottom: 200px;
  height: auto;
  border-left: 1px solid #dadada;
  padding: 0 0 0 24px;
  height: auto;
}
.col-4 #support {
  font-size: 18px;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 50px;
}
.col-4 #support:hover {
  text-decoration: underline;
}
.col-4 #nintendo_switch,
.col-4 #account,
.col-4 #systems,
.col-4 #repairs,
.col-4 #recycling {
  font-size: 16px;
  text-decoration: none;
  color: #e60012;
  font-weight: 700;
  margin-bottom: 50px;
}
.col-4 #nintendo_switch:hover,
.col-4 #account:hover,
.col-4 #systems:hover,
.col-4 #repairs:hover,
.col-4 #recycling:hover {
  text-decoration: underline;
  color: rgb(129, 7, 7);
}

.col-5 .parents {
  border-left: 1px solid #dadada;
  padding: 0 0 0 24px;
}
.col-5 #parent {
  font-size: 18px;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
}
.col-5 #parent:hover {
  text-decoration: underline;
}
.col-5 #info,
.col-5 #parental {
  font-size: 16px;
  text-decoration: none;
  color: #e60012;
  font-weight: 700;
  margin-bottom: 50px;
}
.col-5 #info:hover,
.col-5 #parental:hover {
  text-decoration: underline;
  color: rgb(129, 7, 7);
}
.col-5 .privacy_info {
  border-left: 1px solid #dadada;
  padding: 0 0 0 24px;
  margin-bottom: 200px;
  height: auto;
}
.col-5 .privacy_info #privacy {
  font-size: 18px;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 50px;
}
.col-5 .privacy_info #privacy:hover {
  text-decoration: underline;
}
.col-5 #policy,
.col-5 #cookies {
  font-size: 16px;
  text-decoration: none;
  color: #e60012;
  font-weight: 700;
  margin-bottom: 50px;
}
.col-5 #policy:hover,
.col-5 #cookies:hover {
  text-decoration: underline;
  color: rgb(129, 7, 7);
}

.col-6 .community_info {
  border-left: 1px solid #dadada;
  padding: 0 0 0 24px;
  height: auto;
  margin-bottom: auto;
}
.col-6 #community {
  font-size: 18px;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 50px;
}
.col-6 #community:hover {
  text-decoration: underline;
}
.col-6 #guidelines,
.col-6 #safety {
  font-size: 16px;
  text-decoration: none;
  color: #e60012;
  font-weight: 700;
  margin-bottom: 50px;
}
.col-6 #guidelines:hover,
.col-6 #safety:hover {
  text-decoration: underline;
  color: rgb(129, 7, 7);
}

.esrb_logo {
  display: flex;
  justify-content: flex-end;
}


footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #242424;
  color: white;
}
footer nav ul {
  list-style: none;
}
footer nav ul li {
  display: inline-block;
  padding: 20px 20px;
}
footer nav ul li a {
  color: inherit;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}
footer nav ul li a:hover {
  text-decoration-color: rgb(255, 255, 255);
}

/*# sourceMappingURL=style.css.map */
